<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
  xmlns:rim="http://www.blackberry.com/ns/widgets"
  version="1.0.0.5"
  id="scadder"
  xml:lang="en">
  <author href="http://www.example.com/"
    rim:copyright="Copyright 2013 Anna Gerber">Anna Gerber</author>
  <name>SCADder</name>
  <content src="index.html"/>
  <feature id="blackberry.identity" required="true" version="1.0.0.0"/>
</widget>
